<div class="bg-dark">
    <div class="container" style="padding: 10px 0;">

        <div class="grid no-margin">
            <div class="row no-margin">
                <div class="span3 padding10">
                    <img src="/images/spface.jpg" alt="" class="polaroid">
                </div>
                <div class="span6 padding10">
                    <h3 class="fg-white">About author</h3>
                    <p class="fg-white">Hi! My name Sergey Pimenov and i'm author of Metro UI CSS from Kiev, Ukraine.</p>
                </div>
                <div class="span3 padding10">
                    <a class="button danger " style="width: 100%; margin-bottom: 5px" href="http://bizspark.com">Microsoft BizSpark</a>
                    <a class="button success " style="width: 100%; margin-bottom: 5px" href="http://jetbrains.com">JetBrains</a>
                    <a class="button info " style="width: 100%; margin-bottom: 5px" href="https://github.com/olton/Metro-UI-CSS">Github</a>
                    <a class="button warning " style="width: 100%; margin-bottom: 5px;" href="http://lesscss.org">{ Less }</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container tertiary-text bg-dark fg-white" style="padding: 10px">
        2012-2013, Metro UI CSS ? by  <a href="mailto:sergey@pimenov.com.ua" class="fg-yellow">Sergey Pimenov</a>
    </div>
</div>
