<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 250px;">


        <form class="uk-panel uk-panel-box uk-form">
            <div class="uk-form-row">
                <input class="uk-width-1-1 uk-form-large" data-bind="value:account" type="text" placeholder="用户名">
            </div>
            <div class="uk-form-row">
                <input class="uk-width-1-1 uk-form-large" data-bind="value:password" type="password" placeholder="密码">
            </div>
            <div class="uk-form-row">
                <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large" data-bind="click:submit">登录</button>
            </div>
            <div class="uk-form-row uk-text-small">
                <label class="uk-float-left"><input type="checkbox"> 记住我</label>
                <a class="uk-float-right uk-link uk-link-muted" href="#">忘记密码？</a>
            </div>
        </form>

    </div>
</div>
